# Ignore all node_modules folders
**/node_modules/

# Optional: OS files
.DS_Store
Thumbs.db

# Optional: logs
logs
*.log
.env

# event images
uploads/events/images/**
uploads/events/temp/**

#public images
public/** 

#add public avator for git push
!public/avator/
!public/avator/**

#temporary files
temp/uploads/*/**